body{
    background-color: purple;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
}

.container{
    width:80%;
    margin: 50px auto;
}

.contact-box{
    background-color: white;
    display: flex;
}

.contact-left{
    flex-basis:60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 60%;
    padding: 40px;
    background-color: black;
    color: white;
}

h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 10px;
}

.input-row{
    display: block;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 6px;
}

button{
    width: 100px;
    background: purple;
    border: none;
    outline: none;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    height: 35px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px ;
    transition: transform 0.3s ease, color 0.5s ease;
}

button:hover {
    transform: scale(1.1);
 }

.contact-left h3{
    color:purple;
    font-weight: 600;
    margin-bottom: 60px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 60px;
}

tr td:first-child{
    padding-right: 20px;
}

td{
    display: block;
}



/***/


footer {
    background-color: #000000;
}

footer ul {
    text-align: center;
    padding: 0;
    margin: 0; /* Removes default margin */
}

footer li {
    padding: 5px 0; /* Adds spacing between list items */
}

footer a {
    color: #ffffff; /* Adjust link color to fit your design */
    text-decoration: none; /* Optional: removes the underline from links */
    text-align: center;
}

footer a:hover {
    text-decoration: underline; /* Adds underline on hover for visual feedback */
}

#preloader{
    background: #000000 url(../preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;

}


