/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a font from Google Fonts */
body {
    font-family: 'Rubik', sans-serif;
    background-color: #4E4E50; /* Dark background for contrast */
    color: #ffffff; /* Light text for readability */
}

nav {
    display: flex;
}

nav a {
    margin-right: 20px; /* Adjust as needed */
    text-decoration: none; /* Optional: removes underline */
    color: #fff; /* Adjust color as needed */
}

nav a:hover {
    color: #000000;
}

header{
    background-color: purple;
    padding: 1em;
}



.header-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    top: 18px; /* Adjust as needed */
    font-size: 14px;
    font-family: "Rubik", sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* High z-index to ensure the header is above other content */
}



.header-text a.scroll-to-top {
    color: #000;
    text-decoration: none;
    /* ... your existing styles ... */
    transition: transform 0.3s ease, color 0.5s ease; /* Smooth transition for hover effects */
}

.header-text a.scroll-to-top:hover {
    text-decoration: none; /* No underline */
    color: #fff; /* Change color on hover */
    background-color: #000; /* Add background color on hover */
    padding: 5px 10px; /* Add some padding */
    border-radius: 5px; /* Round the corners */
    transform: scale(1.1); /* Make it slightly larger */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Add a shadow for depth */
}

nav {
    display: flex;
}

nav a {
    margin-right: 20px; /* Adjust as needed */
    text-decoration: none; /* Optional: removes underline */
    color: #fff; /* Adjust color as needed */
}

nav a:hover {
    color: #000000;
}

.insta-logo {
    position: absolute;
    right: 10px;
    top: 10px; /* Adjust as needed */
    transition: background-color 0.3s, transform 0.3s;
}

.tiktok-logo {
    position: absolute;
    right: 70px;
    top: 10px; /* Adjust as needed */
    transition: background-color 0.3s, transform 0.3s;
}

.tiktok-logo:hover {
    transform: scale(1.1);
 }

.youtube-logo {
    position: absolute;
    right: 40px;
    top: 10px; /* Adjust as needed */
    transition: background-color 0.3s, transform 0.3s;
}

.youtube-logo:hover {
    transform: scale(1.1);
 }


.partouzan-logo {
    order: 1;
    position: absolute;
    left: 10px; /* Adjust based on padding */
    height: 50px;
    transition: background-color 0.3s, transform 0.3s;
}


.partouzan-logo:hover{
    transform: scale(1.1);
}


.insta-logo:hover {
   transform: scale(1.1);
}





/* Main content area */
main {
    padding: 20px;
    text-align: center; /* Center the content */
}

/* H1 title at the top of the main content */
main h1 {
    margin-bottom: 1em; /* Spacing below the h1 */
    color: #000000; /* Match the header link color for consistency */
    font-size: 2.5rem; /* Larger font size for the main heading */
    text-shadow: 2px 2px 4px #000000; /* Text shadow for emphasis */
}


footer {
    text-align: center;
    background-color: #000000;
}

footer ul {
    text-align: center;
    padding: 0;
    margin: 0; /* Removes default margin */
}

footer li {
    padding: 5px 0; /* Adds spacing between list items */
}

footer a {
    color: #ffffff; /* Adjust link color to fit your design */
    text-decoration: none; /* Optional: removes the underline from links */
    text-align: center;
}

footer a:hover {
    text-decoration: underline; /* Adds underline on hover for visual feedback */
}


::-webkit-scrollbar{
    width: 15px;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background: #d1e5ff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#000000, purple);
    border-radius: 10px;
}

#preloader{
    background: #000000 url(../preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;

}

/* Sponsorship Section */
.sponsorship-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
    max-width: 800px; /* Maximum width of the section */
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for interaction */
}

.sponsorship-section:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover for a "pop" effect */
}

.sponsor-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Rounded corners for the image */
    margin: 20px 0;
}

.sponsor-description h2 {
    color: #fbfbfb; /* Brand highlight color */
    margin-bottom: 10px;
}

.sponsor-description p {
    color: #eee;
    font-size: 1.1rem;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1); /* Subtle background to lift text off the dark section */
    padding: 10px;
    border-radius: 5px;
}

/* Responsive Image */
@media (max-width: 768px) {
    .sponsorship-section {
        flex-direction: column;
    }
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main h1 {
    font-size: 2.5rem;
    color: #020202; /* A highlight color */
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 1.5px; /* Spacing out letters for effect */
}